Repository eoframework/solutions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eoframework/core-maintainers, @eoframework/provider-aws, @eoframework/provider-azure, @eoframework/provider-google, @eoframework/provider-microsoft, @eoframework/provider-ibm, @eoframework/provider-hashicorp, @eoframework/provider-github, @eoframework/provider-nvidia, @eoframework/provider-dell, @eoframework/provider-juniper, @eoframework/provider-cisco, @eoframework/category-cloud, @eoframework/category-network, @eoframework/category-cyber-security, @eoframework/category-devops, @eoframework/category-ai, @eoframework/legal-team

.github/CODEOWNERS:

# Global reviewers
* @eoframework/core-maintainers

# Provider-specific reviewers
/providers/aws/ @eoframework/provider-aws @eoframework/core-maintainers
/providers/azure/ @eoframework/provider-azure @eoframework/core-maintainers  
/providers/google/ @eoframework/provider-google @eoframework/core-maintainers
/providers/microsoft/ @eoframework/provider-microsoft @eoframework/core-maintainers
/providers/ibm/ @eoframework/provider-ibm @eoframework/core-maintainers
/providers/hashicorp/ @eoframework/provider-hashicorp @eoframework/core-maintainers
/providers/github/ @eoframework/provider-github @eoframework/core-maintainers
/providers/nvidia/ @eoframework/provider-nvidia @eoframework/core-maintainers
/providers/dell/ @eoframework/provider-dell @eoframework/core-maintainers
/providers/juniper/ @eoframework/provider-juniper @eoframework/core-maintainers
/providers/cisco/ @eoframework/provider-cisco @eoframework/core-maintainers

# Category-specific reviewers (cross-provider)
/providers/**/cloud/ @eoframework/category-cloud @eoframework/core-maintainers
/providers/**/network/ @eoframework/category-network @eoframework/core-maintainers
/providers/**/cyber-security/ @eoframework/category-cyber-security @eoframework/core-maintainers
/providers/**/devops/ @eoframework/category-devops @eoframework/core-maintainers
/providers/**/ai/ @eoframework/category-ai @eoframework/core-maintainers

# Documentation and governance
/docs/ @eoframework/core-maintainers
/.github/ @eoframework/core-maintainers
/scripts/ @eoframework/core-maintainers
/LICENSE @eoframework/core-maintainers @eoframework/legal-team

Complete AWS Intelligent Document Processing solution and template standardization
  providers/aws/cloud/onpremise-to-cloud-migration/README.md
  providers/aws/cloud/onpremise-to-cloud-migration/delivery/README.md
  providers/aws/cloud/onpremise-to-cloud-migration/delivery/configuration-templates.md
  providers/aws/cloud/onpremise-to-cloud-migration/delivery/implementation-guide.md
  providers/aws/cloud/onpremise-to-cloud-migration/delivery/operations-runbook.md
  providers/aws/cloud/onpremise-to-cloud-migration/delivery/scripts/python/migration_assessment.py
  providers/aws/cloud/onpremise-to-cloud-migration/delivery/testing-procedures.md
  providers/aws/cloud/onpremise-to-cloud-migration/delivery/training-materials.md
  providers/aws/cloud/onpremise-to-cloud-migration/docs/troubleshooting.md
  providers/aws/cloud/onpremise-to-cloud-migration/metadata.yml
  providers/aws/cloud/onpremise-to-cloud-migration/presales/README.md
  providers/aws/cloud/onpremise-to-cloud-migration/presales/business-case-template.md
  providers/aws/cloud/onpremise-to-cloud-migration/presales/executive-presentation-template.md
  providers/aws/cloud/onpremise-to-cloud-migration/presales/requirements-questionnaire.md
  providers/aws/cloud/onpremise-to-cloud-migration/presales/roi-calculator-template.md
  providers/aws/cloud/onpremise-to-cloud-migration/presales/solution-design-template.md
Owners: @eoframework/category-cloud, @eoframework/core-maintainers

Add GitHub repository paths to all solutions in catalog
  CATALOG.yml
Owners: @eoframework/core-maintainers

Add Azure Virtual Desktop and Google Workspace modern workspace solutions
  CATALOG.yml
  providers/azure/modern-workspace/virtual-desktop/README.md
  providers/azure/modern-workspace/virtual-desktop/delivery/README.md
  providers/azure/modern-workspace/virtual-desktop/delivery/configuration-templates.md
  providers/azure/modern-workspace/virtual-desktop/delivery/implementation-guide.md
  providers/azure/modern-workspace/virtual-desktop/delivery/operations-runbook.md
  providers/azure/modern-workspace/virtual-desktop/delivery/scripts/README.md
  providers/azure/modern-workspace/virtual-desktop/delivery/scripts/ansible/playbook.yml
  providers/azure/modern-workspace/virtual-desktop/delivery/scripts/bash/deploy.sh
  providers/azure/modern-workspace/virtual-desktop/delivery/scripts/powershell/Deploy-Solution.ps1
  providers/azure/modern-workspace/virtual-desktop/delivery/scripts/python/deploy.py
  providers/azure/modern-workspace/virtual-desktop/delivery/scripts/python/requirements.txt
  providers/azure/modern-workspace/virtual-desktop/delivery/scripts/terraform/main.tf
  providers/azure/modern-workspace/virtual-desktop/delivery/scripts/terraform/outputs.tf
  providers/azure/modern-workspace/virtual-desktop/delivery/scripts/terraform/terraform.tfvars.example
  providers/azure/modern-workspace/virtual-desktop/delivery/scripts/terraform/variables.tf
  providers/azure/modern-workspace/virtual-desktop/delivery/testing-procedures.md
  providers/azure/modern-workspace/virtual-desktop/delivery/training-materials.md
  providers/azure/modern-workspace/virtual-desktop/docs/architecture.md
  providers/azure/modern-workspace/virtual-desktop/docs/prerequisites.md
  providers/azure/modern-workspace/virtual-desktop/docs/troubleshooting.md
  providers/azure/modern-workspace/virtual-desktop/metadata.yml
  providers/azure/modern-workspace/virtual-desktop/presales/README.md
  providers/azure/modern-workspace/virtual-desktop/presales/business-case-template.md
  providers/azure/modern-workspace/virtual-desktop/presales/executive-presentation-template.md
  providers/azure/modern-workspace/virtual-desktop/presales/requirements-questionnaire.md
  providers/azure/modern-workspace/virtual-desktop/presales/roi-calculator-template.md
  providers/azure/modern-workspace/virtual-desktop/presales/solution-design-template.md
  providers/google/modern-workspace/workspace/README.md
  providers/google/modern-workspace/workspace/docs/architecture.md
  providers/google/modern-workspace/workspace/docs/prerequisites.md
  providers/google/modern-workspace/workspace/docs/troubleshooting.md
  providers/google/modern-workspace/workspace/metadata.yml
  providers/google/modern-workspace/workspace/presales/README.md
  providers/google/modern-workspace/workspace/presales/business-case-template.md
  providers/google/modern-workspace/workspace/presales/executive-presentation-template.md
  providers/google/modern-workspace/workspace/presales/requirements-questionnaire.md
Owners: @eoframework/core-maintainers, @eoframework/provider-azure, @eoframework/provider-google

Implement distributed catalog architecture for scalable solution management
  catalog/CATALOG.yml
  catalog/README.md
  catalog/UNIFIED_CATALOG.yml
  catalog/categories/ai.yml
  catalog/categories/cloud.yml
  catalog/categories/cyber-security.yml
  catalog/categories/devops.yml
  catalog/categories/modern-workspace.yml
  catalog/categories/network.yml
  catalog/providers/aws.yml
  catalog/providers/azure.yml
  catalog/providers/cisco.yml
  catalog/providers/dell.yml
  catalog/providers/github.yml
  catalog/providers/google.yml
  catalog/providers/hashicorp.yml
  catalog/providers/ibm.yml
  catalog/providers/juniper.yml
  catalog/providers/microsoft.yml
  catalog/providers/nvidia.yml
  catalog/schemas/master-catalog.schema.json
  catalog/schemas/provider-catalog.schema.json
  catalog/solutions.json
  catalog/tools/aggregator.py
  catalog/tools/generator.py
  catalog/tools/migrator.py
  catalog/tools/validator.py
  catalog/validation-report.json
Owners: @eoframework/core-maintainers

Standardize repository structure and add EO Framework™ trademark
  .github/workflows/template-validation.yml
  CATALOG.yml
  README.md
  _sample-template/README.md
  catalog/README.md
  catalog/UNIFIED_CATALOG.yml
  catalog/catalog.yml
  catalog/tools/aggregator.py
  catalog/tools/generator.py
  catalog/tools/migrator.py
  catalog/tools/validator.py
  docs/README.md
  docs/contributing.md
  docs/governance.md
  docs/license-guide.md
  docs/review-process.md
  docs/template-standards.md
  providers/README.md
  providers/aws/ai/intelligent-document-processing/metadata.yml
  providers/hashicorp/cloud/multi-cloud-platform/README.md
  providers/hashicorp/devops/terraform-enterprise/README.md
  scripts/README.md
  scripts/generate-catalog.py
Owners: @eoframework/core-maintainers, @eoframework/category-ai, @eoframework/category-cloud, @eoframework/category-devops

Consolidate development tools under unified tools/ directory
  .github/workflows/license-validation.yml
  .github/workflows/template-validation.yml
  README.md
  docs/README.md
  providers/README.md
  tools/README.md
  tools/clone-template.py
  tools/master-template/README.md
  tools/master-template/sample-provider/sample-category/sample-solution/README.md
  tools/master-template/sample-provider/sample-category/sample-solution/delivery/README.md
  tools/master-template/sample-provider/sample-category/sample-solution/delivery/configuration-templates.md
  tools/master-template/sample-provider/sample-category/sample-solution/delivery/implementation-guide.md
  tools/master-template/sample-provider/sample-category/sample-solution/delivery/operations-runbook.md
  tools/master-template/sample-provider/sample-category/sample-solution/delivery/scripts/README.md
  tools/master-template/sample-provider/sample-category/sample-solution/delivery/scripts/ansible/playbook.yml
  tools/master-template/sample-provider/sample-category/sample-solution/delivery/scripts/bash/deploy.sh
  tools/master-template/sample-provider/sample-category/sample-solution/delivery/scripts/powershell/Deploy-Solution.ps1
  tools/master-template/sample-provider/sample-category/sample-solution/delivery/scripts/python/deploy.py
  tools/master-template/sample-provider/sample-category/sample-solution/delivery/scripts/python/requirements.txt
  tools/master-template/sample-provider/sample-category/sample-solution/delivery/scripts/terraform/main.tf
  tools/master-template/sample-provider/sample-category/sample-solution/delivery/scripts/terraform/outputs.tf
  tools/master-template/sample-provider/sample-category/sample-solution/delivery/scripts/terraform/terraform.tfvars.example
  tools/master-template/sample-provider/sample-category/sample-solution/delivery/scripts/terraform/variables.tf
  tools/master-template/sample-provider/sample-category/sample-solution/delivery/testing-procedures.md
  tools/master-template/sample-provider/sample-category/sample-solution/delivery/training-materials.md
  tools/master-template/sample-provider/sample-category/sample-solution/docs/architecture.md
  tools/master-template/sample-provider/sample-category/sample-solution/docs/prerequisites.md
  tools/master-template/sample-provider/sample-category/sample-solution/docs/troubleshooting.md
  tools/master-template/sample-provider/sample-category/sample-solution/metadata.yml
  tools/master-template/sample-provider/sample-category/sample-solution/presales/README.md
  tools/master-template/sample-provider/sample-category/sample-solution/presales/business-case-template.md
  tools/master-template/sample-provider/sample-category/sample-solution/presales/executive-presentation-template.md
  tools/master-template/sample-provider/sample-category/sample-solution/presales/requirements-questionnaire.md
  tools/master-template/sample-provider/sample-category/sample-solution/presales/roi-calculator-template.md
  tools/master-template/sample-provider/sample-category/sample-solution/presales/solution-design-template.md
  tools/sync-csv.py
  tools/validate-template.py
Owners: @eoframework/core-maintainers

Add comprehensive Getting Started guide for solution creation
  docs/getting-started.md
Owners: @eoframework/core-maintainers

Elevate master-template to root level for strategic importance
  .github/workflows/template-validation.yml
  README.md
  master-template/README.md
  master-template/sample-provider/sample-category/sample-solution/README.md
  master-template/sample-provider/sample-category/sample-solution/delivery/README.md
  master-template/sample-provider/sample-category/sample-solution/delivery/configuration-templates.md
  master-template/sample-provider/sample-category/sample-solution/delivery/implementation-guide.md
  master-template/sample-provider/sample-category/sample-solution/delivery/operations-runbook.md
  master-template/sample-provider/sample-category/sample-solution/delivery/scripts/README.md
  master-template/sample-provider/sample-category/sample-solution/delivery/scripts/ansible/playbook.yml
  master-template/sample-provider/sample-category/sample-solution/delivery/scripts/bash/deploy.sh
  master-template/sample-provider/sample-category/sample-solution/delivery/scripts/powershell/Deploy-Solution.ps1
  master-template/sample-provider/sample-category/sample-solution/delivery/scripts/python/deploy.py
  master-template/sample-provider/sample-category/sample-solution/delivery/scripts/python/requirements.txt
  master-template/sample-provider/sample-category/sample-solution/delivery/scripts/terraform/main.tf
  master-template/sample-provider/sample-category/sample-solution/delivery/scripts/terraform/outputs.tf
  master-template/sample-provider/sample-category/sample-solution/delivery/scripts/terraform/terraform.tfvars.example
  master-template/sample-provider/sample-category/sample-solution/delivery/scripts/terraform/variables.tf
  master-template/sample-provider/sample-category/sample-solution/delivery/testing-procedures.md
  master-template/sample-provider/sample-category/sample-solution/delivery/training-materials.md
  master-template/sample-provider/sample-category/sample-solution/docs/architecture.md
  master-template/sample-provider/sample-category/sample-solution/docs/prerequisites.md
  master-template/sample-provider/sample-category/sample-solution/docs/troubleshooting.md
  master-template/sample-provider/sample-category/sample-solution/metadata.yml
  master-template/sample-provider/sample-category/sample-solution/presales/README.md
  master-template/sample-provider/sample-category/sample-solution/presales/business-case-template.md
  master-template/sample-provider/sample-category/sample-solution/presales/executive-presentation-template.md
  master-template/sample-provider/sample-category/sample-solution/presales/requirements-questionnaire.md
  master-template/sample-provider/sample-category/sample-solution/presales/roi-calculator-template.md
  master-template/sample-provider/sample-category/sample-solution/presales/solution-design-template.md
  providers/README.md
  tools/README.md
  tools/clone-template.py
Owners: @eoframework/core-maintainers

Complete NVIDIA solutions documentation
  solutions/nvidia/ai/dgx-superpod/docs/architecture.md
  solutions/nvidia/ai/dgx-superpod/docs/prerequisites.md
  solutions/nvidia/ai/dgx-superpod/docs/troubleshooting.md
  solutions/nvidia/ai/dgx-superpod/presales/README.md
  solutions/nvidia/ai/dgx-superpod/presales/executive-presentation-template.md
  solutions/nvidia/ai/dgx-superpod/presales/requirements-questionnaire.md
  solutions/nvidia/ai/dgx-superpod/presales/roi-calculator-template.md
  solutions/nvidia/ai/dgx-superpod/presales/solution-design-template.md
  solutions/nvidia/modern-workspace/omniverse-enterprise/delivery/operations-runbook.md
  solutions/nvidia/modern-workspace/omniverse-enterprise/delivery/testing-procedures.md
  solutions/nvidia/modern-workspace/omniverse-enterprise/delivery/training-materials.md
  solutions/nvidia/modern-workspace/omniverse-enterprise/docs/architecture.md
  solutions/nvidia/modern-workspace/omniverse-enterprise/docs/prerequisites.md
  solutions/nvidia/modern-workspace/omniverse-enterprise/docs/troubleshooting.md
Owners: @eoframework/core-maintainers

Complete Azure AI Document Intelligence and Enterprise Landing Zone solutions
  solutions/azure/ai/document-intelligence/delivery/README.md
  solutions/azure/ai/document-intelligence/delivery/configuration-templates.md
  solutions/azure/ai/document-intelligence/delivery/implementation-guide.md
  solutions/azure/ai/document-intelligence/delivery/operations-runbook.md
  solutions/azure/ai/document-intelligence/delivery/testing-procedures.md
  solutions/azure/ai/document-intelligence/delivery/training-materials.md
  solutions/azure/ai/document-intelligence/presales/executive-presentation-template.md
  solutions/azure/ai/document-intelligence/presales/requirements-questionnaire.md
  solutions/azure/ai/document-intelligence/presales/roi-calculator-template.md
  solutions/azure/ai/document-intelligence/presales/solution-design-template.md
  solutions/azure/cloud/enterprise-landing-zone/delivery/README.md
  solutions/azure/cloud/enterprise-landing-zone/delivery/configuration-templates.md
  solutions/azure/cloud/enterprise-landing-zone/delivery/implementation-guide.md
  solutions/azure/cloud/enterprise-landing-zone/delivery/operations-runbook.md
  solutions/azure/cloud/enterprise-landing-zone/delivery/testing-procedures.md
  solutions/azure/cloud/enterprise-landing-zone/delivery/training-materials.md
  solutions/azure/cloud/enterprise-landing-zone/presales/executive-presentation-template.md
  solutions/azure/cloud/enterprise-landing-zone/presales/requirements-questionnaire.md
  solutions/azure/cloud/enterprise-landing-zone/presales/roi-calculator-template.md
  solutions/azure/cloud/enterprise-landing-zone/presales/solution-design-template.md
  solutions/azure/cyber-security/sentinel-siem/delivery/README.md
Owners: @eoframework/core-maintainers

Complete Azure Sentinel SIEM solution implementation
  solutions/azure/cyber-security/sentinel-siem/delivery/configuration-templates.md
  solutions/azure/cyber-security/sentinel-siem/delivery/implementation-guide.md
  solutions/azure/cyber-security/sentinel-siem/delivery/operations-runbook.md
  solutions/azure/cyber-security/sentinel-siem/delivery/testing-procedures.md
  solutions/azure/cyber-security/sentinel-siem/delivery/training-materials.md
  solutions/azure/cyber-security/sentinel-siem/presales/executive-presentation-template.md
  solutions/azure/cyber-security/sentinel-siem/presales/requirements-questionnaire.md
  solutions/azure/cyber-security/sentinel-siem/presales/roi-calculator-template.md
  solutions/azure/cyber-security/sentinel-siem/presales/solution-design-template.md
Owners: @eoframework/core-maintainers

Implement master-template compliance for solution scripts
  solutions/azure/devops/enterprise-platform/delivery/scripts/ansible/playbook.yml
  solutions/azure/devops/enterprise-platform/delivery/scripts/bash/deploy.sh
  solutions/azure/devops/enterprise-platform/delivery/scripts/powershell/Deploy-Solution.ps1
  solutions/azure/devops/enterprise-platform/delivery/scripts/python/deploy.py
  solutions/azure/devops/enterprise-platform/delivery/scripts/python/requirements.txt
  solutions/azure/devops/enterprise-platform/delivery/scripts/terraform/main.tf
  solutions/azure/devops/enterprise-platform/delivery/scripts/terraform/outputs.tf
  solutions/azure/devops/enterprise-platform/delivery/scripts/terraform/terraform.tfvars.example
  solutions/azure/devops/enterprise-platform/delivery/scripts/terraform/variables.tf
Owners: @eoframework/core-maintainers

Complete master-template compliance implementation
  solutions/aws/cloud/onpremise-to-cloud-migration/delivery/scripts/README.md
  solutions/azure/ai/document-intelligence/delivery/scripts/ansible/playbook.yml
  solutions/azure/ai/document-intelligence/delivery/scripts/bash/deploy.sh
  solutions/azure/ai/document-intelligence/delivery/scripts/powershell/Deploy-Solution.ps1
  solutions/azure/ai/document-intelligence/delivery/scripts/python/deploy.py
  solutions/azure/ai/document-intelligence/delivery/scripts/python/requirements.txt
  solutions/azure/ai/document-intelligence/delivery/scripts/terraform/main.tf
  solutions/azure/ai/document-intelligence/delivery/scripts/terraform/outputs.tf
  solutions/azure/ai/document-intelligence/delivery/scripts/terraform/terraform.tfvars.example
  solutions/azure/ai/document-intelligence/delivery/scripts/terraform/variables.tf
  solutions/azure/cloud/enterprise-landing-zone/delivery/scripts/ansible/playbook.yml
  solutions/azure/cloud/enterprise-landing-zone/delivery/scripts/bash/deploy.sh
  solutions/azure/cloud/enterprise-landing-zone/delivery/scripts/powershell/Deploy-Solution.ps1
  solutions/azure/cloud/enterprise-landing-zone/delivery/scripts/python/deploy.py
  solutions/azure/cloud/enterprise-landing-zone/delivery/scripts/python/requirements.txt
  solutions/azure/cloud/enterprise-landing-zone/delivery/scripts/terraform/main.tf
  solutions/azure/cloud/enterprise-landing-zone/delivery/scripts/terraform/outputs.tf
  solutions/azure/cloud/enterprise-landing-zone/delivery/scripts/terraform/terraform.tfvars.example
  solutions/azure/cloud/enterprise-landing-zone/delivery/scripts/terraform/variables.tf
  solutions/azure/cyber-security/sentinel-siem/delivery/scripts/ansible/playbook.yml
  solutions/azure/cyber-security/sentinel-siem/delivery/scripts/bash/deploy.sh
  solutions/azure/cyber-security/sentinel-siem/delivery/scripts/powershell/Deploy-Solution.ps1
  solutions/azure/cyber-security/sentinel-siem/delivery/scripts/python/deploy.py
  solutions/azure/cyber-security/sentinel-siem/delivery/scripts/python/requirements.txt
  solutions/azure/cyber-security/sentinel-siem/delivery/scripts/terraform/main.tf
  solutions/azure/cyber-security/sentinel-siem/delivery/scripts/terraform/outputs.tf
  solutions/azure/cyber-security/sentinel-siem/delivery/scripts/terraform/terraform.tfvars.example
  solutions/azure/cyber-security/sentinel-siem/delivery/scripts/terraform/variables.tf
  solutions/ibm/devops/ansible-automation-platform/delivery/scripts/README.md
  solutions/nvidia/modern-workspace/omniverse-enterprise/delivery/scripts/README.md
Owners: @eoframework/core-maintainers

Complete missing core documentation files for 100% documentation compliance
  solutions/aws/ai/intelligent-document-processing/docs/prerequisites.md
  solutions/aws/ai/intelligent-document-processing/docs/troubleshooting.md
  solutions/aws/cloud/onpremise-to-cloud-migration/docs/architecture.md
  solutions/aws/cloud/onpremise-to-cloud-migration/docs/prerequisites.md
  solutions/cisco/cloud/hybrid-infrastructure/presales/solution-design-template.md
  solutions/google/modern-workspace/workspace/delivery/README.md
  solutions/google/modern-workspace/workspace/delivery/configuration-templates.md
  solutions/google/modern-workspace/workspace/delivery/implementation-guide.md
  solutions/google/modern-workspace/workspace/delivery/testing-procedures.md
  solutions/ibm/cloud/openshift-container-platform/delivery/testing-procedures.md
Owners: @eoframework/core-maintainers

Fix GitHub Actions validation workflow
  .github/workflows/template-validation.yml
  support/catalog/catalog.yml
  support/catalog/categories/ai.yml
  support/catalog/categories/cloud.yml
  support/catalog/categories/cyber-security.yml
  support/catalog/categories/devops.yml
  support/catalog/categories/modern-workspace.yml
  support/catalog/categories/network.yml
  support/catalog/providers/aws.yml
  support/catalog/providers/azure.yml
  support/catalog/providers/cisco.yml
  support/catalog/providers/dell.yml
  support/catalog/providers/github.yml
  support/catalog/providers/google.yml
  support/catalog/providers/hashicorp.yml
  support/catalog/providers/ibm.yml
  support/catalog/providers/juniper.yml
  support/catalog/providers/microsoft.yml
  support/catalog/providers/nvidia.yml
  support/exports/solutions.json
  support/reports/validation-report.json
  support/tools/generate-catalogs.py
  support/tools/validate-catalogs.py
  support/tools/validate-template.py
Owners: @eoframework/core-maintainers

Fix GitHub Actions workflow permissions and disable license validation
  .github/workflows/license-validation.yml
  .github/workflows/template-validation.yml
Owners: @eoframework/core-maintainers

Update distributed catalog system [skip ci]
  support/catalog/catalog.yml
  support/catalog/categories/ai.yml
  support/catalog/categories/cloud.yml
  support/catalog/categories/cyber-security.yml
  support/catalog/categories/devops.yml
  support/catalog/categories/modern-workspace.yml
  support/catalog/categories/network.yml
  support/catalog/providers/aws.yml
  support/catalog/providers/azure.yml
  support/catalog/providers/cisco.yml
  support/catalog/providers/dell.yml
  support/catalog/providers/github.yml
  support/catalog/providers/google.yml
  support/catalog/providers/hashicorp.yml
  support/catalog/providers/ibm.yml
  support/catalog/providers/juniper.yml
  support/catalog/providers/microsoft.yml
  support/catalog/providers/nvidia.yml
  support/exports/solutions.json
  support/reports/validation-report.json
Owners: @eoframework/core-maintainers

Remove license validation workflow entirely
  .github/workflows/license-validation.yml
Owners: @eoframework/core-maintainers

Update distributed catalog system [skip ci]
  support/catalog/catalog.yml
  support/catalog/categories/ai.yml
  support/catalog/categories/cloud.yml
  support/catalog/categories/cyber-security.yml
  support/catalog/categories/devops.yml
  support/catalog/categories/modern-workspace.yml
  support/catalog/categories/network.yml
  support/catalog/providers/aws.yml
  support/catalog/providers/azure.yml
  support/catalog/providers/cisco.yml
  support/catalog/providers/dell.yml
  support/catalog/providers/github.yml
  support/catalog/providers/google.yml
  support/catalog/providers/hashicorp.yml
  support/catalog/providers/ibm.yml
  support/catalog/providers/juniper.yml
  support/catalog/providers/microsoft.yml
  support/catalog/providers/nvidia.yml
  support/exports/solutions.json
Owners: @eoframework/core-maintainers

Implement clean BSL 1.1 license approach with short headers
  .github/workflows/license-validation.yml
  LICENSE
  support/tools/clone-template.py
  support/tools/export-templates-csv.py
  support/tools/generate-catalogs.py
  support/tools/process-catalogs.py
  support/tools/validate-catalogs.py
  support/tools/validate-template.py
Owners: @eoframework/core-maintainers, @eoframework/legal-team

Update distributed catalog system [skip ci]
  support/catalog/catalog.yml
  support/catalog/categories/ai.yml
  support/catalog/categories/cloud.yml
  support/catalog/categories/cyber-security.yml
  support/catalog/categories/devops.yml
  support/catalog/categories/modern-workspace.yml
  support/catalog/categories/network.yml
  support/catalog/providers/aws.yml
  support/catalog/providers/azure.yml
  support/catalog/providers/cisco.yml
  support/catalog/providers/dell.yml
  support/catalog/providers/github.yml
  support/catalog/providers/google.yml
  support/catalog/providers/hashicorp.yml
  support/catalog/providers/ibm.yml
  support/catalog/providers/juniper.yml
  support/catalog/providers/microsoft.yml
  support/catalog/providers/nvidia.yml
  support/exports/solutions.json
Owners: @eoframework/core-maintainers

Refine license validation to focus on core framework files
  .github/workflows/license-validation.yml
  solutions/cisco/ai/network-analytics/delivery/scripts/bash/deploy.sh
  solutions/cisco/devops/ci-cd-automation/delivery/scripts/bash/deploy.sh
  solutions/cisco/devops/ci-cd-automation/delivery/scripts/python/deploy.py
Owners: @eoframework/core-maintainers

Update distributed catalog system [skip ci]
  support/catalog/catalog.yml
  support/catalog/categories/ai.yml
  support/catalog/categories/cloud.yml
  support/catalog/categories/cyber-security.yml
  support/catalog/categories/devops.yml
  support/catalog/categories/modern-workspace.yml
  support/catalog/categories/network.yml
  support/catalog/providers/aws.yml
  support/catalog/providers/azure.yml
  support/catalog/providers/cisco.yml
  support/catalog/providers/dell.yml
  support/catalog/providers/github.yml
  support/catalog/providers/google.yml
  support/catalog/providers/hashicorp.yml
  support/catalog/providers/ibm.yml
  support/catalog/providers/juniper.yml
  support/catalog/providers/microsoft.yml
  support/catalog/providers/nvidia.yml
  support/exports/solutions.json
Owners: @eoframework/core-maintainers

Enhance template validation and CSV export functionality
  support/exports/templates.csv
  support/tools/export-templates-csv.py
  support/tools/validate-template.py
Owners: @eoframework/core-maintainers

Update distributed catalog system [skip ci]
  support/catalog/catalog.yml
  support/catalog/categories/ai.yml
  support/catalog/categories/cloud.yml
  support/catalog/categories/cyber-security.yml
  support/catalog/categories/devops.yml
  support/catalog/categories/modern-workspace.yml
  support/catalog/categories/network.yml
  support/catalog/providers/aws.yml
  support/catalog/providers/azure.yml
  support/catalog/providers/cisco.yml
  support/catalog/providers/dell.yml
  support/catalog/providers/github.yml
  support/catalog/providers/google.yml
  support/catalog/providers/hashicorp.yml
  support/catalog/providers/ibm.yml
  support/catalog/providers/juniper.yml
  support/catalog/providers/microsoft.yml
  support/catalog/providers/nvidia.yml
  support/exports/solutions.json
Owners: @eoframework/core-maintainers

Enhance template validation and CSV export functionality
  .github/workflows/sync-website-data.yml
  .github/workflows/template-validation.yml
  solutions/aws/ai/intelligent-document-processing/metadata.yml
  solutions/aws/cloud/disaster-recovery-web-application/metadata.yml
  solutions/aws/cloud/onpremise-to-cloud-migration/metadata.yml
  support/catalog/catalog.yml
  support/catalog/categories/ai.yml
  support/exports/templates.csv
  support/tools/export-templates-csv.py
Owners: @eoframework/core-maintainers

Fix AI category validation and enforce proper capitalization
  solutions/aws/ai/intelligent-document-processing/metadata.yml
  solutions/azure/ai/document-intelligence/metadata.yml
  solutions/cisco/ai/network-analytics/metadata.yml
  solutions/dell/ai/precision-ai-workstation/metadata.yml
  solutions/nvidia/ai/dgx-superpod/metadata.yml
  solutions/nvidia/ai/gpu-compute-cluster/metadata.yml
  support/tools/validate-template.py
Owners: @eoframework/core-maintainers

Update distributed catalog system [skip ci]
  support/catalog/catalog.yml
  support/catalog/categories/ai.yml
  support/catalog/categories/cloud.yml
  support/catalog/categories/cyber-security.yml
  support/catalog/categories/devops.yml
  support/catalog/categories/modern-workspace.yml
  support/catalog/categories/network.yml
  support/catalog/providers/aws.yml
  support/catalog/providers/azure.yml
  support/catalog/providers/cisco.yml
  support/catalog/providers/dell.yml
  support/catalog/providers/github.yml
  support/catalog/providers/google.yml
  support/catalog/providers/hashicorp.yml
  support/catalog/providers/ibm.yml
  support/catalog/providers/juniper.yml
  support/catalog/providers/microsoft.yml
  support/catalog/providers/nvidia.yml
  support/exports/solutions.json
  support/exports/templates.csv
Owners: @eoframework/core-maintainers

Require WEBSITE_SYNC_TOKEN for mandatory website synchronization
  .github/workflows/sync-website-data.yml
Owners: @eoframework/core-maintainers

Implement proper AI category architecture with lowercase internal and uppercase display
  solutions/aws/ai/intelligent-document-processing/metadata.yml
  solutions/azure/ai/document-intelligence/metadata.yml
  solutions/cisco/ai/network-analytics/metadata.yml
  solutions/dell/ai/precision-ai-workstation/metadata.yml
  solutions/nvidia/ai/dgx-superpod/metadata.yml
  solutions/nvidia/ai/gpu-compute-cluster/metadata.yml
  support/catalog/catalog.yml
  support/catalog/categories/ai.yml
  support/catalog/categories/cloud.yml
  support/catalog/categories/cyber-security.yml
  support/catalog/categories/devops.yml
  support/catalog/categories/modern-workspace.yml
  support/catalog/categories/network.yml
  support/catalog/providers/aws.yml
  support/catalog/providers/azure.yml
  support/catalog/providers/cisco.yml
  support/catalog/providers/dell.yml
  support/catalog/providers/github.yml
  support/catalog/providers/google.yml
  support/catalog/providers/hashicorp.yml
  support/catalog/providers/ibm.yml
  support/catalog/providers/juniper.yml
  support/catalog/providers/microsoft.yml
  support/catalog/providers/nvidia.yml
  support/exports/solutions.json
  support/exports/templates.csv
  support/reports/validation-report.json
  support/tools/validate-template.py
Owners: @eoframework/core-maintainers

Update distributed catalog system [skip ci]
  support/catalog/catalog.yml
  support/catalog/categories/ai.yml
  support/catalog/categories/cloud.yml
  support/catalog/categories/cyber-security.yml
  support/catalog/categories/devops.yml
  support/catalog/categories/modern-workspace.yml
  support/catalog/categories/network.yml
  support/catalog/providers/aws.yml
  support/catalog/providers/azure.yml
  support/catalog/providers/cisco.yml
  support/catalog/providers/dell.yml
  support/catalog/providers/github.yml
  support/catalog/providers/google.yml
  support/catalog/providers/hashicorp.yml
  support/catalog/providers/ibm.yml
  support/catalog/providers/juniper.yml
  support/catalog/providers/microsoft.yml
  support/catalog/providers/nvidia.yml
  support/exports/solutions.json
  support/exports/templates.csv
  support/reports/validation-report.json
Owners: @eoframework/core-maintainers

Update AWS solution descriptions to be under 60 characters
  solutions/aws/ai/intelligent-document-processing/metadata.yml
  solutions/aws/cloud/disaster-recovery-web-application/metadata.yml
  solutions/aws/cloud/onpremise-to-cloud-migration/metadata.yml
  support/exports/templates.csv
Owners: @eoframework/core-maintainers

Update distributed catalog system [skip ci]
  support/catalog/catalog.yml
  support/catalog/categories/ai.yml
  support/catalog/categories/cloud.yml
  support/catalog/categories/cyber-security.yml
  support/catalog/categories/devops.yml
  support/catalog/categories/modern-workspace.yml
  support/catalog/categories/network.yml
  support/catalog/providers/aws.yml
  support/catalog/providers/azure.yml
  support/catalog/providers/cisco.yml
  support/catalog/providers/dell.yml
  support/catalog/providers/github.yml
  support/catalog/providers/google.yml
  support/catalog/providers/hashicorp.yml
  support/catalog/providers/ibm.yml
  support/catalog/providers/juniper.yml
  support/catalog/providers/microsoft.yml
  support/catalog/providers/nvidia.yml
  support/exports/solutions.json
  support/exports/templates.csv
Owners: @eoframework/core-maintainers

Update solution descriptions to professional outcome focus
  solutions/azure/ai/document-intelligence/metadata.yml
  solutions/azure/cloud/enterprise-landing-zone/metadata.yml
  solutions/azure/cyber-security/sentinel-siem/metadata.yml
  solutions/azure/devops/enterprise-platform/metadata.yml
  solutions/azure/modern-workspace/virtual-desktop/metadata.yml
  solutions/azure/network/virtual-wan-global/metadata.yml
  solutions/cisco/ai/network-analytics/metadata.yml
  solutions/cisco/cloud/hybrid-infrastructure/metadata.yml
  solutions/cisco/cyber-security/secure-access/metadata.yml
  solutions/cisco/devops/ci-cd-automation/metadata.yml
  solutions/cisco/network/sd-wan-enterprise/metadata.yml
  solutions/dell/ai/precision-ai-workstation/metadata.yml
  solutions/dell/cloud/vxrail-hci/metadata.yml
  solutions/dell/cloud/vxrail-hyperconverged/metadata.yml
  solutions/dell/cyber-security/safeid-authentication/metadata.yml
  solutions/dell/devops/poweredge-ci-infrastructure/metadata.yml
  solutions/dell/network/powerswitch-datacenter/metadata.yml
  solutions/github/cyber-security/advanced-security/metadata.yml
  solutions/github/devops/actions-enterprise-cicd/metadata.yml
  solutions/google/cloud/landing-zone/metadata.yml
  solutions/google/modern-workspace/workspace/metadata.yml
  solutions/hashicorp/cloud/multi-cloud-platform/metadata.yml
  solutions/hashicorp/devops/terraform-enterprise/metadata.yml
  solutions/ibm/cloud/openshift-container-platform/metadata.yml
  solutions/ibm/devops/ansible-automation-platform/metadata.yml
  solutions/juniper/cyber-security/srx-firewall-platform/metadata.yml
  solutions/juniper/network/mist-ai-network/metadata.yml
  solutions/microsoft/cyber-security/cmmc-enclave/metadata.yml
  solutions/microsoft/modern-workspace/m365-deployment/metadata.yml
  solutions/nvidia/ai/dgx-superpod/metadata.yml
  solutions/nvidia/ai/gpu-compute-cluster/metadata.yml
  solutions/nvidia/modern-workspace/omniverse-enterprise/metadata.yml
Owners: @eoframework/core-maintainers

Update distributed catalog system [skip ci]
  support/catalog/catalog.yml
  support/catalog/categories/ai.yml
  support/catalog/categories/cloud.yml
  support/catalog/categories/cyber-security.yml
  support/catalog/categories/devops.yml
  support/catalog/categories/modern-workspace.yml
  support/catalog/categories/network.yml
  support/catalog/providers/aws.yml
  support/catalog/providers/azure.yml
  support/catalog/providers/cisco.yml
  support/catalog/providers/dell.yml
  support/catalog/providers/github.yml
  support/catalog/providers/google.yml
  support/catalog/providers/hashicorp.yml
  support/catalog/providers/ibm.yml
  support/catalog/providers/juniper.yml
  support/catalog/providers/microsoft.yml
  support/catalog/providers/nvidia.yml
  support/exports/solutions.json
  support/exports/templates.csv
Owners: @eoframework/core-maintainers

Update solution names to be more specific and descriptive
  solutions/azure/ai/document-intelligence/metadata.yml
  solutions/azure/devops/enterprise-platform/metadata.yml
  solutions/cisco/ai/network-analytics/metadata.yml
  solutions/cisco/cloud/hybrid-infrastructure/metadata.yml
  solutions/cisco/cyber-security/secure-access/metadata.yml
  solutions/cisco/devops/ci-cd-automation/metadata.yml
  solutions/github/cyber-security/advanced-security/metadata.yml
  solutions/github/devops/actions-enterprise-cicd/metadata.yml
Owners: @eoframework/core-maintainers

Update distributed catalog system [skip ci]
  support/catalog/catalog.yml
  support/catalog/categories/ai.yml
  support/catalog/categories/cloud.yml
  support/catalog/categories/cyber-security.yml
  support/catalog/categories/devops.yml
  support/catalog/categories/modern-workspace.yml
  support/catalog/categories/network.yml
  support/catalog/providers/aws.yml
  support/catalog/providers/azure.yml
  support/catalog/providers/cisco.yml
  support/catalog/providers/dell.yml
  support/catalog/providers/github.yml
  support/catalog/providers/google.yml
  support/catalog/providers/hashicorp.yml
  support/catalog/providers/ibm.yml
  support/catalog/providers/juniper.yml
  support/catalog/providers/microsoft.yml
  support/catalog/providers/nvidia.yml
  support/exports/solutions.json
  support/exports/templates.csv
Owners: @eoframework/core-maintainers

Fix solution names with proper product terminology and add .gitignore
  .gitignore
  solutions/azure/cyber-security/sentinel-siem/metadata.yml
  solutions/cisco/network/sd-wan-enterprise/metadata.yml
  solutions/dell/ai/precision-ai-workstation/metadata.yml
  solutions/dell/cloud/vxrail-hci/metadata.yml
  solutions/dell/cloud/vxrail-hyperconverged/metadata.yml
  solutions/juniper/cyber-security/srx-firewall-platform/metadata.yml
  solutions/juniper/network/mist-ai-network/metadata.yml
  solutions/microsoft/modern-workspace/m365-deployment/metadata.yml
  solutions/nvidia/ai/dgx-superpod/metadata.yml
  solutions/nvidia/ai/gpu-compute-cluster/metadata.yml
  support/catalog/README.md
  support/catalog/catalog.yml
  support/catalog/categories/ai.yml
  support/catalog/categories/cloud.yml
  support/catalog/categories/cyber-security.yml
  support/catalog/categories/devops.yml
  support/catalog/categories/modern-workspace.yml
  support/catalog/categories/network.yml
  support/catalog/providers/aws.yml
  support/catalog/providers/azure.yml
  support/catalog/providers/cisco.yml
  support/catalog/providers/dell.yml
  support/catalog/providers/github.yml
  support/catalog/providers/google.yml
  support/catalog/providers/hashicorp.yml
  support/catalog/providers/ibm.yml
  support/catalog/providers/juniper.yml
  support/catalog/providers/microsoft.yml
  support/catalog/providers/nvidia.yml
  support/catalog/schemas/master-catalog.schema.json
  support/catalog/schemas/provider-catalog.schema.json
  support/exports/solutions.json
  support/exports/templates.csv
Owners: @eoframework/core-maintainers

Fix workflow directory creation for ignored catalog files
  .github/workflows/template-validation.yml
Owners: @eoframework/core-maintainers

Add validation report to gitignore
  .gitignore
Owners: @eoframework/core-maintainers
